html {
    font-size: 10px;
    background: url('background.jpg') bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  

  h1{
    margin: auto;
    display: flex;
    font-size: 50px;
    font-weight: 900;
    align-items: center;
    justify-content: center;
  }

  .note{
    top: 100px;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color:chocolate;
   
   
  }
  .keys {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
button{
  position:fixed;
  
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


  .key {
    border: .4rem solid rgba(246, 248, 246, 0.925);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 15rem;
    height: 8rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    cursor:pointer;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

  footer{
    display: inline;
    font-family:sans-serif;
    font-size: 15px;
    position: relative;
    color: rgb(252, 195, 8);
    margin: auto;
 text-align: center;
  }
  .copyright{
    align-self: center;
  }

  @media screen and (width<400px) {
    .keys {
      display: flex;
      flex: 4;
      flex-wrap: wrap;
      min-height: 100%;
      align-items: center;
      justify-content: center;
    }

    .key{
      border: 0.4rem solid rgba(246, 248, 246, 0.925);
      border-radius: 0.5rem;
      margin: 2rem;
      font-size: 4.5rem;
      padding: 1rem 0.5rem;
      transition: all 0.07s ease 0s;
      width: 34rem;
      height: 20rem;
      text-align: center;
      color: white;
      background: rgba(0, 0, 0, 0.4);
      text-shadow: black 0px 0px 0.5rem;
      cursor: pointer;
    }
  }
