html {
    font-size: 10px;
    background: url('background.jpg') bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid rgba(246, 248, 246, 0.925);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    height: 8rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    cursor:pointer;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

  footer{
    display: inline;
    font-family:sans-serif;
    font-size: 15px;
    position: relative;
    color: rgb(252, 195, 8);
    margin: auto;
 text-align: center;
  }
  .copyright{
    align-self: center;
  }

  @media screen and (max-width:400px) {
    .keys {
      display: flex;
      flex: 4;
      flex-wrap: wrap;
      min-height: 100%;
      align-items: center;
      justify-content: center;
    }

    .key{
    margin: 10rem;
    font-size: 1.5rem;
    padding: 10rem 7rem;
    width: 14rem;
   height: 13rem;
    }
  }